.grid { 
    margin:0;
    grid-template-rows:  0.1fr 0.1fr 0.4fr 0.4fr 0.1fr  ;
    grid-template-columns: 1fr 5fr 1fr ;
    grid-template-areas:"header header header"
                        ". imglogo ."
                        ". cont ."
                        ". cont1 ."                 
                        "footer footer footer";
                        grid-row-gap: 10%;
                        grid-column-gap: 7px;}
div.inf div img:hover {transform: scale(1.7);
        transition-duration: 1s}