@import url(hlogostyle.css);
.grid {
    margin:0;
    grid-template-rows:   0.05fr 0.05fr 1.3fr 0.5fr 0.1fr ;
    grid-template-columns: 1fr ;
    grid-template-areas:"header"
                        "imglogo"
                        "cont"
                        "cont1"
                        "footer";
                        grid-row-gap: 50%;
                        grid-column-gap: 7px;}
.header {grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:". img ."
                        "menua menua menua"; 
    grid-row-gap: 0;
    grid-column-gap: 7px;}
.obj img {width:90%;}
.obj1 img {width:90%;}