
@import url(about-desktop.css) (min-width:1024px);
@import url(about-tablet.css) (max-width:1023px) and (min-width:768px); 
@import url(about-mobile.css) (max-width:767px);
html { background: rgb(12, 31, 49);}
.header {background: linear-gradient(rgb(18, 45, 71),rgb(12, 31, 49)); }
.ablogo { height: auto;}
.blogo{width:14%; height:auto; }
div.cont{background:linear-gradient(rgb(18, 45, 71),rgb(12, 31, 49))}
.menua {border-top: 4px black solid}
.menua div img{display:none;}
.wow:hover img{left:0;}
.sc:hover img{left:20%;}
.diablo:hover img{left:40%;}
.overwatch:hover img{left:60%;}
.hots:hover img{left:80% ;}
.unhide:hover img{display: inline-block;
                width:20%;
                position:absolute;
                top:70%;}