
.grid {
    margin:0;
    grid-template-rows:   0.02fr 0.6fr 0.2fr 0.02fr  ;
    grid-template-columns: 1fr ;
    grid-template-areas:"header"
                        "cont"
                        "cont1"
                        "footer";
                        grid-row-gap: 5%;
                        grid-column-gap: 7px;}
.footer a{background: 4px black solid;border-radius: 8px;background:linear-gradient(rgb(18, 45, 71),rgb(12, 31, 49));padding:2%; }