@import url(hlogostyle.css);
.grid {
    margin:0;
    grid-template-rows:   0.09fr 5fr 1.5fr 0.2fr  ;
    grid-template-columns: 1fr ;
    grid-template-areas:"header"
                        "cont"
                        "cont1"
                        "footer";
                        grid-row-gap: 50px;
                        grid-column-gap: 7px;}
                        .header {display: flex;
                            flex-direction: column;}
.hlogo .blogo{width: 20%!important;}
.header {grid-template-rows:  1fr 1.2fr ;
    grid-template-columns: 1fr;
    grid-template-areas:"img"
                        "menua"; 
    grid-row-gap: 0;
    grid-column-gap: 7px;}
.ablogo{width: 100%!important}
.wow{width:100%;}
.sc,.diablo,.overwatch,.hots {width:50%;}
.footer a{background: 4px black solid;border-radius: 8px;background:linear-gradient(rgb(18, 45, 71),rgb(12, 31, 49));padding:2%; }
body * {font-size:1.2em;}