@import url(about-grid-position-lesser.css);
@import url(header-grid-about.css);
.hlogo .blogo{width: 40%;}
.ablogo{width: 98%}
.footer a{background: 4px black solid;border-radius: 8px;background:linear-gradient(rgb(18, 45, 71),rgb(12, 31, 49));padding:2%; }
body * {font-size:1em;}