.header {grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:". img ."
                        "menua menua menua"; 
    grid-row-gap: 0;
    grid-column-gap:0;}