.hlogo img{width:30%!important;}
div.menua   {border-top:3px black solid;}
.person div img{width:10%!important}
.footer a{background: 4px black solid;border-radius: 8px;background:linear-gradient(#3f180f,#200c08);padding:2%; width: 20%; }
.footer * {font-size:1em!important;}
         
    
   