@import url(hlogostyle.css);
.grid {display:grid;
    margin:0;
    grid-template-rows:  0.1fr 1fr 2fr 2fr 2fr 2fr 2fr 0.5fr  ;
    grid-template-columns: 1fr ;
    grid-template-areas:    "header"
                            "imglogo"
                            "cont"
                            "cont1"
                            "cont2"
                            "cont3"
                            "cont4"
                            "footer";
                            grid-row-gap:15% ;
                            grid-column-gap: 3px;}
.header {grid-template-rows:  1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:". img ."
                            "menua menua menua"; 
        grid-row-gap: 0;
        grid-column-gap: 7px;}
.hlogo {width: 100%;
        height:auto;}
html { background: black url(../assests/Безымянный.png) repeat-y;}
body {
        background:none;
        margin: 0; 
        height: 100%; 
    }
.prepurch img{width:100%!important; }
.circle {width:100%!important;}
div.inf4 {height: auto!important ;}
