@import url(main-grid-position-lesser.css);
@import url(header-grid-tablet.css);

.islands h1:hover + .hidden1{left:1%;
                        height:70%;
                        width:96%;}
.islands h1:hover + .hidden2{left:1%;
                        height:70%;
                        width:96%;}
.inf2 p:hover + .alliesHorde{left: 1%;
                            height:60%;
}
.inf2 p:hover + .alliesAlliance{left: 40%;
                                height:60%;
}
.prepurch img{width:40%;}
.circle {width:50%;}