@import url(main-grid-position-greater.css);
@import url(header-grid-desktop.css);

.islands h1:hover + .anim{left: 16%;
                            height:70%;
}
.inf2 p:hover + .alliesHorde{left: 16%;
                            height:60%;
}
.inf2 p:hover + .alliesAlliance{left: 49%;
                                height:60%;
}
.prepurch img{width:40%;}
.circle {width:50%;}