.grid {
    margin:0;
    grid-template-rows:  0.1fr 1fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr  ;
    grid-template-columns: 1fr ;
    grid-template-areas:    "header"
                            "imglogo"
                            "cont"
                            ". . ."
                            "cont1"
                            ". . ."
                            "cont2"
                            ". . ."
                            "cont3"
                            ". . ."
                            "cont4"
                            ". . ."
                            "footer";
                            grid-row-gap: 3px;
                            grid-column-gap: 3px;}
.header {   grid-template-rows:  0.1fr;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:"img menua";
                        grid-row-gap: 7px;
                        grid-column-gap: 7px;}
