
 @import url(main-desktop.css) (min-width:1024px);
 @import url(main-tablet.css) (max-width:1023px) and (min-width:768px); 
 @import url(main-mobile.css) (max-width:767px);
 @import url(wow-desktop.css)(min-width:1315px);
 @import url(wow-other.css)(max-width:1314px);


@keyframes anim1 { 
        from {background-image: url(../assets/zuldazar.jpg);}
        50% {background-image: url(../assets/nazmir.jpg);}
        to {background-image: url(../assets/voldun.jpg);}
    
}
@keyframes anim2 { 
        from {background-image: url(../assets/stormsong.jpg);}
        50% {background-image: url(../assets/drustvar.jpg);}
        to {background-image: url(../assets/tiragard.jpg);}
    
}
.inf {background-image: url(../assets/AllianceVsHorde.jpg);}
.inf1 {background-image: url(../assets/islands.jpg);}
.inf2{background-image: url(../assets/allied-races.jpg);}
.cont{background-size: 100%;
background-repeat: no-repeat;
background-color: black;}

.inf2 table{margin-top:1%;}
.inf table {margin-top:-1%;}
.inf2  li div {display:none;}
.inf2 p:hover + div{display: block;
                position: absolute;
                background-color: black;
                border: 4px black solid;
                border-radius: 6px;
                width: auto;}
.inf2 p:hover + div img {width: auto;
                        height: 100%;}


.fraction {width:50%; height:auto;} 
.prepurch {display:flex; flex-direction: column}
.prepurch img{ height:auto;}
.circle {height:auto;}
.heart  {margin-top: -10%;height:auto; width:35%;}
.anim {animation-duration: 8s;
        animation-iteration-count: infinite ;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        border:4px solid black;
        background-size: cover;
        background-repeat: no-repeat;}
.islands {display:flex;}
.islands div div{display: none;
                width: 50%;
                height: 50%;}
.islands div {width: 50%;height: auto;}
.islands h1:hover + .anim{display:block;
                        position: absolute;}
.islands h1:hover + .hidden1{animation-name: anim1;
                        background-image: url(../assets/sl_N_06_19.jpg);}
.islands h1:hover + .hidden2{animation-name: anim2;
                        background-image: url(../assets/sl_N_06_66.jpg);}



