@import url(main-desktop.css) (min-width:1024px);
@import url(main-tablet.css) (max-width:1023px);
@import url(main-mobile.css) (max-width:768px);
@keyframes anim1 { 
        from {background-image: url(../assests/sl_N_06_19.jpg);}
        50% {background-image: url(../assests/sl_N_06_28.jpg);}
        to {background-image: url(../assests/kk52yqx5yy_d74859ff87de98665ca29119a79cbb3cf60f36ec_1509816368_9984.jpg);}
    
}
@keyframes anim2 { 
        from {background-image: url(../assests/sl_N_06_66.jpg);}
        50% {background-image: url(../assests/WoW_WhatsNext_Pic9.jpg);}
        to {background-image: url(../assests/BKJ2XYS3YIXF1509567053378.jpg);}
    
}
 div.inf {background-image: url(../assests/9W8MM2AWQXJP1517267972036-1050x525.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 48%}
div.inf1 {background-image: url(../assests/295-abeeb77e8dbc1721c599281bd2d717b8.jpg);
	background-size: 100%;
        background-repeat: no-repeat;
        height: 52%}
div.inf2{background-image: url(../assests/allied-races.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 80%}
.islands {display:flex;}
.islands div div{display: none;width: 50%;
                height: 50%;}
.islands div {width: 50%;}
.islands h1:hover + .hidden1{display: block;
                        animation-name: anim1;
                        animation-duration: 8s;
                        animation-iteration-count: infinite ;
                        animation-timing-function: linear;
                        animation-fill-mode: forwards;
                        position: absolute;
                        border:4px solid black;
                        background-size: cover;
                        background-image: url(../assests/sl_N_06_19.jpg);
                        background-repeat: no-repeat;}
.islands h1:hover + .hidden2{display: block;
                        left:25%;
                        animation-name: anim2;
                        animation-duration: 8s;
                        animation-iteration-count: infinite ;
                        animation-timing-function: linear;
                        animation-fill-mode:both ;
                        position: absolute;
                        border:4px solid black;
                        background-image: url(../assests/sl_N_06_66.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;}



div.footer {grid-area: footer;
        text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;}
div.footer p {font-size: 15px;}
div.footer a {font-size: 15px;}

div p {
        padding: 3px;
        font-size: 30px;
        color: whitesmoke;
        text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;}
div h1 {margin: 6px;
        color: whitesmoke;
        text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;}
div h2 {margin: 6px;
        color: whitesmoke;
        text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;}
        div.footer{font-size: 15px;}
         