
.grid {display:grid;
    margin:0;
    grid-template-rows:  0.2fr 0.2fr 1.5fr 1.5fr 1.5fr 0.3fr   ;
    grid-template-columns: 1fr ;
    grid-template-areas:    "header"
                            "imglogo"
                            "cont"
                            "cont1"
                            "cont2"    
                            "footer";
                            grid-row-gap: 10%;
                            grid-column-gap: 0;}
.header {grid-template-rows:  0.1fr;
        grid-template-columns: 1fr   2fr;
        grid-template-areas:"img  menua"; 
        grid-row-gap: 7px;
        grid-column-gap: 7px;}
div.cont div img {width:40%;}