
.grid {
    grid-template-rows:  0.2fr 0.2fr 1.5fr 1.5fr 1.5fr 0.3fr ;
    grid-template-columns: 1fr ;
    grid-template-areas:"header"
                        "imglogo"
                        "cont"
                        "cont1"
                        "cont2"
                        "footer";
                        grid-row-gap: 10%;
                        grid-column-gap:0;}