.smbdcomment .person div img {width:40%!important;}
html { background: black url(../assests/Безымянный.png) repeat-y!important;}
body {background:none!important;
    margin: 0; 
    height: 100%; 
    }
         
    
   