html { background: black url(../assests/Безымянный.png) repeat-y; 

    }
    body {
        background: url(../assests/12345.png) repeat-y 100% 0;
        margin: 0; 
        height: 100%; 
       }
    
    .header {grid-area: header;
        display: grid;
        margin: 0;
        height: auto;
        width:100%;
        background: linear-gradient(#3f180f,#200c08); 
        position: fixed;
        border: 3px solid black;
        border-radius: 6px;
        z-index: 5;}
.person div img{width:60%}
.person div {width: 100%;}
    .hlogo{grid-area: img; margin-top:1%;margin-left:1%;}
    .hlogo img{width:14%;height: auto;}

    div.menua   {grid-area: menua;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin:0;
                width:100% ;
                height: 100%;}
    div.menua div   {display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    width:  33%;
                    height: 100%;}
    div.menua div a  { display: block;
                    align-self: center;
                    text-align: center;
                    height: 100%;
                    text-decoration: none;
                    color: whitesmoke;
                    font-family: sans-serif;
                    font-size: 20px ;}
    
    div.menua div:hover {border-left: 2px black solid;
                        border-right: 2px black solid;}
    
    .imglogo   {grid-area:imglogo;
            width:100%;
            height:auto } 

    .images {border:4px solid black;border-radius: 6px; margin:6px;}

    .blogo{width:17%; height:auto; }   
    
    div a {text-decoration-line: none}
    div a:hover{text-decoration-line: underline}


    div.cont{display: flex;
        flex-direction: column;
        padding:1%;
        margin-top: 20%; 
        width:100%;
        background-repeat: no-repeat;
        border: 4px solid black;
        border-radius: 6px;
        background: linear-gradient(#3f180f,#200c08)}
    
    
div.inf{grid-area:cont;}
    
div.inf1{grid-area:cont1;}
    
div.inf2{grid-area:cont2;}
    
div.inf3{grid-area:cont3;}
    
div.inf4{grid-area:cont4;}

.imgfloat {float:right;}

.ucomment {width:95%; height:auto; background-color: rgb(224, 230, 235);border:3px black solid}
.othercomment {display:flex;flex-direction: column;width:100%; height: auto; margin-top:1%;}
.smbdcomment {display: flex;flex-direction: column;width:95%; height: auto; border:3px black solid}
.person div img{width:30%!important; margin-left: -70%;transform:none!important}
.person {display:flex;
        flex-direction: row;
        justify-content: flex-start;
        width:97%;
        height: auto;
        border:3px black solid;
        padding:1%;}
.comment{width:87%; height: auto;padding: 2%;}
.person div{margin-left: 1%;}
.nlogo {width:40%; height: auto;}

div p{font-size: 1.5em;}
div a{font-size: 1.5em;}
    
div *{text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;
    color: whitesmoke;}
.footer p{width: 100%}

div.footer {grid-area: footer;
            margin-top:10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: none;
            width:100%;}
.footer * { margin-top:2%;
            text-decoration-line: none;
            padding: 3px;
            font-size:0.7em;
            text-shadow: 3px 3px 5px black,-3px -3px 5px black,0px 2px 5px black,2px 0px 5px black,-2px 0px 5px black,0px -2px 5px black,-2px 2px 5px black,2px -2px 5px black;}


         
    
   