html { background: black url(../assets/wow-background-2.png) repeat-y;}
body {background: url(../assets/wow-background-1.png) repeat-y 100% 0;
    margin: 0; 
    height: 100%;}
.cont{width:100%;}
.person div img{width:20%;}
.nlogo {width:40%; }
.header {background: linear-gradient(#3f180f,#200c08);}
.cont{background: linear-gradient(#3f180f,#200c08);}


         
    
   